/** common **/
.base {
  line-height: var(--typography--line-height--normal);
}

.normal {
  line-height: var(--typography--line-height--normal);
}

.tight {
  line-height: var(--typography--line-height--tight);
}

.none {
  line-height: var(
    --typography--line-height--none
  ); /** truncateする要素に使ってはいけない */
}

.truncated {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/** title **/
.title {
  font-weight: var(--typography--weight--bold);
}

.title.l {
  font-size: var(--typography--size--xxl);
  letter-spacing: var(--typography--letter-spacing--xxl);
}

.title.m {
  font-size: var(--typography--size--xl);
  letter-spacing: var(--typography--letter-spacing--xl);
}

.title.s {
  font-size: var(--typography--size--l);
  letter-spacing: var(--typography--letter-spacing--l);
}

/** label **/
.label {
  font-weight: var(--typography--weight--medium);
}

.label.bold {
  font-weight: var(--typography--weight--bold);
}

.label.m {
  font-size: var(--typography--size--m);
  letter-spacing: var(--typography--letter-spacing--m);
}

.label.s {
  font-size: var(--typography--size--s);
  letter-spacing: var(--typography--letter-spacing--s);
}

.label.xs {
  font-size: var(--typography--size--xs);
  letter-spacing: var(--typography--letter-spacing--xs);
}

.label.xxs {
  font-size: var(--typography--size--xxs);
  letter-spacing: var(--typography--letter-spacing--xxs);
}

/** body **/
.body {
  font-weight: var(--typography--weight--medium);
}

.body.bold {
  font-weight: var(--typography--weight--bold);
}

.body.m {
  font-size: var(--typography--size--m);
  letter-spacing: var(--typography--letter-spacing--m);
}

.body.s {
  font-size: var(--typography--size--s);
  letter-spacing: var(--typography--letter-spacing--s);
}
