:root {
  --typography--weight--medium: 500;
  --typography--weight--bold: 700;

  --typography--line-height--none: 1;
  --typography--line-height--tight: 1.2;
  --typography--line-height--normal: 1.5;

  --typography--size--xxl: 1.75rem;
  --typography--size--xl: 1.5rem;
  --typography--size--l: 1.25rem;
  --typography--size--m: 1rem;
  --typography--size--s: 0.875rem;
  --typography--size--xs: 0.75rem;
  --typography--size--xxs: 0.625rem;

  --typography--letter-spacing--xxl: 0.0525rem;
  --typography--letter-spacing--xl: 0.045rem;
  --typography--letter-spacing--l: 0.0375rem;
  --typography--letter-spacing--m: 0.03rem;
  --typography--letter-spacing--s: 0.02625rem;
  --typography--letter-spacing--xs: 0.0225rem;
  --typography--letter-spacing--xxs: 0.01875rem;
}
